body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
}


.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
	padding-top: 57px;
	color: #000;
	padding-bottom: 322px;
	background: url('../img/bg.jpg') no-repeat center top / cover;
}

header a {
	color: #000;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #000;
}

.menu li {
	margin-right: 40px;
}

.nav {
	display: flex;
	align-items: center;
}


.offer {
	text-transform: uppercase;
	margin-top: 216px;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
	font-size: 55px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em
}

.btn {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #000;
	width: 238px;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #000;
    color: #fff;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 567px;
}

.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
    width: 400px;
    height: 300px;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}


.wrapper-footer-container {
    display: flex;
    justify-content: center;
    background: rgba(27, 28, 34, 0.6);
    width: auto;
    margin-top: 210px;
}

.footer-obtaining {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 175px;
    max-width: 1920px;
}

.footer-messangers {
    margin-left: 11.58%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 60px;

    width: auto;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-link {
    display: flex;

    width: 60px;
    height: 60px;

    justify-content: center;
    align-items: center;
}

.footer-messangers img {
    height: 100%;
    width: 100%;
}

.footer-logo {
    width: 110px;
}

.footer-textbox {
    margin-right: 11.58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.54vh;

    width: auto;
    height: auto;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-textbox-box-1,
.footer-textbox-box-2 {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

.footer-textbox-box-1 {
    gap: 0.3vh;
}

.footer-textbox a, .footer-textbox p {
    margin: 0;

    color: #d9d9d9;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: #d9d9d9;
}

.footer-textbox p {
    margin-top: 0.6vh;
}

.table {
	list-style-type: disc;
}

.list{
	color: #fff;
	background: url("../img/bg-list.jpg") no-repeat;
}
.form{
	color: #000;
	padding-left: 50px;
	padding-top:10px;
}
.contact{
	background: url("../img/bg-list.jpg") no-repeat;
}
.exampel{
	background: url("../img/img1.jpg") no-repeat;
}